 <div id="footer" >
 	<div class="container footerInfo">
 		<div id="footerLogo"> <img src="images/Target.png" alt="footerLogo" id="footerLogoImg"> </div>
 		<div id="footerTerms"> <a href="../terms" ><small> Terms and Conditions </small></a> </div>

 		<div id="contactUs"> <a href="../contact"><small> Contact Us </small></a> </div>

	 </div>
 </div>

