<nav class="header2 navbar navbar-inverse navbar-static-top" role="navigation">

<div class="container">
	<div id="headerContents">
		<div id="menu">
			<a href="gallery"><span class="glyphicon glyphicon-th  headerIcon "> &nbsp;</span></a>
		</div>

		<div class="navbar-header navbar-title"> Goal Glance</div>

		<div id="settings">
			<a href="preferences"><span class="glyphicon glyphicon-wrench headerIcon">&nbsp;</span></a>
		</div>
	</div>
</div>

</nav>



<!--

<div id="header2">
	<a id="menu" href="gallery"><span class="glyphicon glyphicon-align-justify"></span></a>
	<a id="settings" href="preferences"><span class="glyphicon glyphicon-wrench"></span></a>
	Goal Glance

</div>

-->