<div id="header2">
	<a id="menu" href="gallery"><span class="glyphicon glyphicon-th"></span></a>
	<a id="settings" href="preferences"><span class="glyphicon glyphicon-wrench"></span></a>
	Goal Glance

</div>