 <div class="navbar navbar-static-top navbar-inverse" role="navigation">  
      <div class="container">  
        <div class="navbar-header">  
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
            <span class="sr-only">Toggle navigation</span>  
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>  
          </button>  
          <a class="navbar-brand" href="/landing">Goal Glance</a>  
        </div>  
        <div class="collapse navbar-collapse">  
          <ul class="nav navbar-nav">  
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home">Random Inspiration</span></a></li>  
            <li><a href="/gallery"><span class="glyphicon glyphicon-th ">Gallery</span></a></li>  
            <li><a href="/preferences"><span class="glyphicon glyphicon-wrench">Settings</span></a></li> 
             <li><a href="/change"><span class="glyphicon glyphicon-headphones">Change Goal</span></a></li>  
          </ul>  
        </div><!-- /.nav-collapse -->  
    </div><!-- /.container -->  
</div>  
