.header2 {
	margin: auto;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	text-align:center;
	font-size: 70px;
	width: 100%;
	margin: 0;
	height: 120px;
	padding-top: 30px;
	clear: both;
	background:#939DA3
}
/*
.navbar-title{
	margin-top: -20px;
	color: white;
	font-family: Titillium Web;
	font-weight: 200;
	vertical-align: middle;
	float: left;
	min-width: 200px;
	margin-right: 3%;
}

*/

.filelist{
	font-size: 4.0vw;
}
.headerIcon{
	color: white;
	display: inline;
}

#menu, #settings{
	/*position: absolute; */
	margin-top: -10px;
	width: 75px;
}
#menu{
	margin-left: 8%;
	margin-right: 3%;
	float: left;
}

#settings{
	float: left;
}


.container{
	clear: both;
}

.navbar-nav li{
	font-size: 3.0vw;
}

.navbar-brand{
	font-size: 4.0vw;
	margin-left: 15px;
}

#main{
	margin: auto;
	clear:both;	
	/*margin-top: 10px;
	width: 80%; */
	height: 98%;
	width: 90%;
}

.imageBlock{
	float: left;
	margin-bottom: 10px;
}

  .thumb{
	width: 100px;
	height: 100px;
	margin: 3px;
}

/*
#main, .container, #headercontents, .header2{
	min-width: 460px; 
}
*/

@media (max-width: 990px) {...}

body{
	background-color: #f0f0f0;
	font-family: Tahoma, Geneva, sans-serif;
	/*font-size: 40px;*/
	font-size: 5.5vw;	

	font-weight: 200;
	letter-spacing: 1px;
	color: #303030; 
}



    output {
      display: inline-block;
      text-align: center;
      margin-top: 2em;
      width: 100%;
    }


.navbar-nav{
	font-size: 3.5vw;
}

.arrow {
	color: #303030;
	padding-top: 30%;
	font-size: 8vw;
}

#arrowone {
	float: left;
	margin-right: 2%;
}

#arrowtwo{
	float: left;
	margin-left: 2%;
}

.text {
	font-size:50px;
	font-family: Tahoma, Geneva, sans-serif;
}

textarea {
	width:100%;
}

select {
	width: 100%;
}



.error, .welcome{
	margin: 75px 0px 20px 100px;
	padding-top: 35px;
	clear: both;	
}

.error{
	color: red;
	font-style: italic;
	font-size: 32px;
}

.welcome{
	color: #303030;
	font-size: 48px;
}



img{
	margin: 0;
	padding: 0;
}

input  {
	width:100%;
	display:block;
	border: 1px solid #999;
	font-size: 4.5vw;
	margin: 0px 0px 10px 0px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	padding: 7px 20px;
}

input.newSubmit, .inputForm {
	margin-top: 25px;
}



input.submitButton {
	margin-left: 0;
	width: 100%;
	height: 20%;
	background:#303030;
	color:#fff;
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 10px;
	border: 1p solid #999;
	/*font-size: 32px; */
	/*font-size: 4.5vw; */
	letter-spacing: 1px;
	padding: 10px 5px;
}

input.submitButton:hover {
	background:#fff;
	color:#303030;
}

textarea:focus, input:focus {
	border: 1px solid #303030;
}


.forgot_password{
	margin-top: 3%;
}

.forgot_password a{
	color:#303030;
}

.footer{
	position: absolute;
	margin-left: 20%;
	margin-bottom: 10px;
	margin-top: 50px;
	font-size: 4.5vw;	
}



/* UPLOAD PHOTOS SPECIFIC STYLING*/

#Randomimage {
	overflow: hidden;
	margin: auto;
	float: center;
	width: 80%;
}

#photoViewer{
		margin-bottom: 8%;
		margin-top: 8%;
}

img {
      max-width: 300px;
      border: 1px solid #999;
 }

.remove{
	float: right;
}

figure img{
	margin: auto;
	float: left;
	width: 70%;
	margin-bottom: 20px;
}
#cameraInput{
	font-size: 12px;
	vertical-align: middle;
}

.uploadText{
	font-size: 3vw;
}

.imageName{
	float: left;
}


figure {
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }
   
    
   #fileList{
   		font-size: 4.5vw;	

   }
    #filelist .remove {
      font-size: 2.5vw;
    }


/* END UPLOAD PHOTOS PAGE SPECIFIC STYLING */


/* LANDING PAGE SPECIFIC STYLING */

#landingNav{
	margin-left: 5%;
	/*line-height: 1.25; */
}

.jumbotron {
	position: relative;
	background: none;
	width: 100%;

}

.jumbotron:after {
     content:"";
     background: url("../images/everest.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     max-height: 600px;
     opacity: 0.4;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
    /* font-size: 36px; */
}



.titleRow{
	clear: both;
	margin: auto;
	border-top: solid #303030 1px;
	border-bottom: solid #303030 1px;
	padding: 3px 0px;

}


/* END LANDING PAGE STYLING */





