#header2 {
	margin: auto;
	clear:both;	
	vertical-align: middle;
	background-color: #00FFA3;
	font-family: Tahoma, Geneva, sans-serif;
	text-align:center;
	font-size: 80px;
	width: 100%;
	margin: 0;
	height:175px;

	border: 1p solid #999;
	color: #303030;
	padding-top: 40px;
	clear: both;
}





#settings {
	position:absolute;
	right: 20%;
	color: #303030;
	text-decoration: none;
}

.headerText{
	float: left;
	margin: auto;
	padding-left: 300px;
}

#headerContents{
	min-width: 675px;
}

#image {
	overflow: hidden;
	margin: auto;
	float: left;
	width: 70%;
	margin-bottom: 50px;
}

#menu {
	position:absolute;
	left:15%;
	color: #303030;
	text-decoration: none;
}

#photoViewer {
	text-align:center;
	padding-bottom: 50px;
	margin-bottom: 50px;
	clear: both;
}

.arrow {
	font-size:100px;
	text-decoration: none;
	color: #303030;
	padding-top: 200px;
}

#arrowone {
	float: left;
}

#arrowtwo{
	float: right;
}

.text {
	font-size:50px;
	font-family: Tahoma, Geneva, sans-serif;
}

textarea {
	width:100%;
}

select {
	width: 100%;
}

body{
	width: 95%;
	background-color: #f0f0f0;
	font-family: Titillium Web;
	/*
	font-size: 60px;
	font-weight: 200;
	color: #303030; */
}

td{
	font-size: 48px;
	font-weight: 200;
	color: #303030;
}

.error, .welcome{
	margin: 75px 0px 20px 100px;
	padding-top: 35px;
	clear: both;	
}

.error{
	color: red;
	font-style: italic;
	font-size: 32px;
}

.welcome{
	color: #303030;
	font-size: 48px;
}


#headerContents{
	margin: auto;
}

img{
	margin: 0;
	padding: 0;
}

input  {
	width:110%;
	display:block;
	border: 1px solid #999;
	font-size: 40px;
	height: 80px;
	margin: 0px 0px 5px 0px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;
	padding: 10px 10px;
}

input.newSubmit, .inputForm {
	margin-top: 50px;
}

.homeButtons{
	margin-top: 200px;
}

.forgot_password a{
	padding-top: 25px;
	color:#303030;
}

input.submitButton {
	margin-left: 0;
	width: 100%;
	height:125px;
	background:#303030;
	color:#fff;
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1p solid #999;
	font-size: 40px;
}

input.submitButton:hover {
	background:#fff;
	color:#303030;
}

textarea:focus, input:focus {
	border: 1px solid #303030;
}

#header{
	padding-top: 50px;

}

.homeText{
	margin-top: 75px;
	margin-left: 25px;
}

.homeText, .titleRow{
font-size: 60px;
	font-weight: 200;
	color: #303030;
}

#header, #main{
	margin: auto;
	width: 75%;
	clear:both;	
	vertical-align: middle;
}

#main, #header2{
	margin-top: 30px;
	min-width: 675px;
}



.titleRow{
	clear: both;
	margin: auto;
	border-top: solid #303030 1px;
	border-bottom: solid #303030 1px;
	padding: 10px 0px;

}

.createAccount{
	margin: auto;
	clear: both;
}

#logo{
	margin-left: 35px;
	float: left;
}

.footer{
	margin: 237px 237px 10px 250px;
	font-size: 24px;
	
}

