<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon"  type="image/png"  href="images/eye.png">

    <title>Goal Glance</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!-- Bootstrap -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">   
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">  
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet" type="text/css">    
</head>

<body>
    {{>navigation}}
    <script>
    function sendUpdates() {
        alert('lol');
        return false;
    }

    </script>
    <!--{{>header}} -->
    <div id="main">

        {{#if welcome}}
        <h4> Your new goal is "{{goal}}!" Now upload some photos that will remind you why it's important to you.</h4>
        <br/>
        {{/if}}

        <ul class="add_content">  
            <li class="active"><a href="#" class="addPhotoButton"><span class="glyphicon glyphicon-camera">&nbsp;</span>Add Photo</a></li>  
            <li><a href="#" class="addMessageButton"><span class="glyphicon glyphicon-font">&nbsp;</span>Add Message</a></li>

        </ul>  

        <div id="addMessage">
             <div id="push_small"></div>

            <h5>Who to share with:</h5>
            <form action='/sendUpdate' method='get'>
                <select required name='share'>
                  <option id='me_only' value='me'>Just me</option>
                  <option id='friends' value='all'>Me and my friends</option>      
              </select>
              <h5>Enter your message:</h5>
              <textarea id="message" name="message"></textarea>    
              <input class = "submitButton" type="submit" value="Save Message" onclick="incrementNew()">
          </form>
      </div>


      <div id="addPhoto">
        <div id="push_small"></div>

          {{#if welcome}}
          <h4> Your new goal is "{{goal}}!" Now upload some photos that will remind you why it's important to you.</h4>
          <br/>
          {{/if}}


<!--
<div>
  <input type="file" id="files" multiple class="button" accept="image/*">
  <div id="filelist"><em>Loading files...</em></div>
</div>

<output></output>
-->
<input type="file" id="files" name="files[]" multiple />
<div id="subTitle"> Please be patient as photos upload, it may take a couple seconds. You will see the photo below when the upload is finished. </div>
<output id="list"> </output>

</div>


{{#if welcome}}
<a href="welcome"><input  class = "submitButton" type="submit" value="< Back to Set Goal"></a>
<a href="welcome_share"><input class = "submitButton" type="submit" value="On to share >"></a>
{{/if}}

{{#unless welcome}}
<form action="/">
    <input  class = "submitButton" type="submit" value="Back to home">
</form>
{{/unless}}
</div> <!-- end main div -->

<div id="push"></div>
{{>footer}}
<script src="js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/jquery-1.11.0.js"> </script>
<script src="js/bootstrap.js"> </script>
<script src="js/newContent.js"> </script>

</body>
</html>