<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon"  type="image/png"  href="images/eye.png">

	<title>Gallery</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">   
	<link href="css/bootstrap-responsive.css" rel="stylesheet">

	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/gallery.css" rel="stylesheet" type="text/css">


</head>
<body onload='createGallery({{json photos}});'>   
	{{>navigation}}

		<div id="main">
			<div id="galleryContents">
		<div class="dropdown" >
			<div class="titleRow " style="float: left; clear: both; margin-right: 10px;"> My Goal Gallery 
			</div>
			{{#if numNew}}
			<div class="numberNew" style="float: left; clear: both;"> You have {{numNew}} new item(s) </div>
			{{/if}}
			
<!-- 			<button class="btn dropdown-toggle" style="float: left;" type="button" id="filter-button" data-toggle="dropdown">
				Filter: <span id="filter-text">All</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="filter-button">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:selectNewFilter(0,'My photos')">My photos</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:selectNewFilter(1,'Friends\' photos')">Friends' photos</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:selectNewFilter(2,'All')">All</a></li>
			</ul> -->
		</div> 

		<div id="my-modal-container">
			<div class="modal fade" id="photo-modal">
				<div class="modal-dialog" id="photo-modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<table id="modal-table" > 
								<tr><td class="arrow"><span class="glyphicon glyphicon-chevron-left" onclick="javascript:previousImage()"></span></td>
									<td class="centered"><div id="modal-img-container"><div id="modal-img"></div></div></td>
									<td class="arrow"><span class="glyphicon glyphicon-chevron-right" onclick="javascript:nextImage()"></span></td>
								</tr>
							</table>
						</div>				
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>

		<div class="gallery" id="gallery-content"></div>
		<div id="overlay" style="" onclick="javascript:hideOverlay()"></div>
		<div class="myarrow myarrow-right" onclick="">
			<span class="glyphicon glyphicon-chevron-right" onclick="javascript:nextImage()"></span>
		</div>
		<div class="myarrow myarrow-left" onclick="">
			<span class="glyphicon glyphicon-chevron-left" onclick="javascript:previousImage()"></span>
		</div>
		<div class="imgoverlay-frame" onclick="javascript:hideOverlay()">
			<span class="imgoverlay-helper"></span>
			<img id="overlay-image" src="" onclick="javascript:event.stopPropagation()">
		</div>
		<div id="push"></div>
	</div>
	</div>
	{{> footer}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"></script>	
	<script src="js/hci-friends.js"> </script>
	<script src="js/gallery.js"> </script>

</body>
</html>