<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <style>
    #contacts {
        overflow-y: scroll;        
    }
    </style>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">   
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script>
    var contacts = []
    function auth() {
        //gapi.client.setApiKey('AIzaSyAZTAmIwm6ADEok2kSNpNkvMGGkfm6a4as');

        var config = {
          'client_id': '495823667074-6deviilknch8i64peb3t6fem6mn6cuga.apps.googleusercontent.com',
          'scope': 'https://www.google.com/m8/feeds '
      };
      $('#gmailauthorize').val('Loading...');
      gapi.auth.authorize(config, function() {
          console.log('login complete');
          console.log(gapi.auth.getToken());
          $.getJSON('https://www.google.com/m8/feeds/contacts/default/full/?access_token=' + 
           gapi.auth.getToken().access_token + "&alt=json&max-results=1000000&callback=?", function(result){
            //console.log(JSON.stringify(result));

            for (i = 0; i < result.feed.entry.length; i++) {                
                if ('gd$email' in result.feed.entry[i]) {
                    for (j = 0; j < result.feed.entry[i].gd$email.length; j++) {                    
                        contacts.push({'name': result.feed.entry[i].title.$t, 'email': result.feed.entry[i].gd$email[j].address});                            
                    }
                }
            }
            contacts.sort(function (a,b) {
                stra = a.name.length > 0 ? a.name : a.email;
                stra = stra.toLowerCase();
                strb = b.name.length > 0 ? b.name : b.email;
                strb = strb.toLowerCase();    
                if (stra === strb) {
                    stra = a.email.toLowerCase();
                    strb = b.email.toLowerCase();
                }
                if (stra < strb)
                    return -1;
                if (stra > strb) {
                    return 1
                }
                return 0;
            });            
            render_contacts(contacts);
            $('#contactquery').keyup(function() {
                var newcontacts = [];
                var query = $('#contactquery').val();
                for (i = 0; i < contacts.length; i++) {
                    if (contacts[i].name.toLowerCase().indexOf(query.toLowerCase()) != -1 ||
                        contacts[i].email.toLowerCase().indexOf(query.toLowerCase()) != -1) {
                        newcontacts.push(contacts[i]);
                    }
                }
                render_contacts(newcontacts);
            });
            $('#gmailauthorize').hide();
            $('#gmaildiv').css('display','block');
        });

      });
return false;
}
function render_contacts(contacts) {
    //var textcont = '<ol>';
    // for (i=0; i < contacts.length; i++) {
    //     textcont += '<li>'+ contacts[i].name + ' &lt;' + contacts[i].email + '&gt;</li>\n';
    // }
    // textcont += '</ol>'
    // $('#contacts').html(textcont);

    $('#contactslist').html('');
    for (i = 0; i < contacts.length; i++) {
        var cur = contacts[i];                
        $('#contactslist')
             .append($("<option></option>")
             .attr("value",cur.email)
             .text(cur.name + ' <' + cur.email + '>')); 
    }  
}
var start_time = 0;
var last_time = 0;

function startup() {    
    start_time = new Date().getTime(); 
    last_time = new Date().getTime();
    enablebutton();
    $('#contactslist').change(function() {
        last_time = new Date().getTime();
        var selecteditem = $(this).find(':selected');
        if (selecteditem.length > 0) {
            $('#contactquery').val(selecteditem.val());
        }
        alert('selected');
    });
    $('#contactquery').keyup(function() {
        last_time = new Date().getTime();        
    });
    $('#addcontactform').submit(function() {
        submitStatistics();
    });
    ga('send','event','getcontacts','{{statPageLoad}}');  
}

function enablebutton() {
  $('#gmailauthorize').removeAttr('disabled');
}

function submitStatistics() {
    var now = new Date().getTime();    
    //submit button pushed event
    //submit time elapsed event
    //submit total time event
    alert(now-last_time);
    alert(now-start_time);
    ga('send','event','getcontacts', '{{statAddClicked}}'); 
    ga('send','timing','getcontacts_timing','{{statTypeToAddTime}}',now-last_time);
    ga('send','timing','getcontacts_timing','{{statTotalTime}}',now-start_time);   
    alert('huh');
}
    </script>
  </head>

  
<body onload='javascript:startup()'>    
    {{>navigation}}
    <div id="main">
        <p>Please enter the email address of a person you'd like to share with:</p>
        <form action='/addContact' id='addcontactform' method='get'>        
        {{#if alt2}}
        <p><input type='text' id='contactquery' name='contactemail' style='float:left;width:90%;'></input>
        <input class = "submitButton" type="submit" value="+" style="width:10%;float:right;padding:6px; margin:0px;">
        {{/if}}
        {{#if alt1}}
        <p><input type='text' id='contactquery' name='contactemail' style='float:left;width:80%'></input>
        <input class = "submitButton" type="submit" value="Add" style="width:20%;float:right;padding:6px; margin:0px">
        {{/if}}
        {{#if alt0}}
        <p><input type='text' id='contactquery' name='contactemail'></input>
        {{/if}}
        </p>
        <p>
        <input class="submitButton" type="button" value="Load Gmail Contacts to Search..." disabled id='gmailauthorize' onclick="auth(); return false;" style="margin-bottom: 15%;">        
        </p>
        <div id='gmaildiv' style='display:none'>
        <p>Matching Gmail Contacts:</p>
        <select id='contactslist' size=6 style="margin-bottom: 10%; height: 40%">
        </select>
        </div>
        {{#if alt0}}
        <p><input class = "submitButton" type="submit" value="Share with this email address"></p>
        {{/if}}
        <p><a href='/share'><input class = "submitButton" type="button" value="< Discard and Return to Sharing Settings"></a></p></form>
        <script src="https://apis.google.com/js/client.js"></script>

    </div>
    {{>footer}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/jquery-1.11.0.js"> </script>
    <script src="js/bootstrap.js"> </script>
    <script src="js/hci-friends.js"> </script>    

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48581537-1', 'goalglance.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
