<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> Goal Glance </title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet" type="text/css">


</head>
<body>
{{>navigation}}

<!--{{>header}} -->

<div id="main">

	<div id="photoViewer">
		<!--
		<a class="arrow" id="arrowone"><span class="glyphicon glyphicon-chevron-left " onclick="changePic()"></span></a>
	-->
		<span id = "Randomimage">
			<img id="img" class="img-rounded  img-responsive" src="http://lorempixel.com/800/800" />
		</span>
		<!--
		<a class="arrow" id="arrowtwo"><span class="glyphicon glyphicon-chevron-right" onclick="changePic()"></span></a>
	-->
	</div>

	<div  class = "submitButton " type="submit" value="Blarg" onclick="changePic()">


		<form>
  		  <input class = "submitButton changePic" type="submit" value="View Random Inspiration">
		</form>
		<form action="/gallery">
  		 		 <input  class = "submitButton " type="submit" value="Go to Gallery">
			</form>
	
	</div>


</div> <!-- end main div -->
	{{> footer}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>
	<script src="js/147-project.js"> </script>
</body>
</html>