<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">

<title> Welcome </title>
 <link href="css/bootstrap.css" rel="stylesheet">
   <link href="css/bootstrap-responsive.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container-fluid">
<div class="jumbotron">
    <h1>Stay Inspired and Achieve Your Goals</h1>
    <p>Motivation at a Glance</p>
    <hr/>
</div>
</div>



<div id="main">

	<div id="landingNav">
		
		<form action="/login">
  		  	<input class = "submitButton" type="submit" value="Log In">
		</form>
		
		<form action="/register">
  		  <input  class = "submitButton" type="submit" value="Create Account">
		</form>
			
	</div> <!-- end create account div --> 
	
      <div id="push"></div>

</div> <!-- end main div -->
	{{> footer}}

<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>
	<script src="js/hci-friends.js"> </script>
</body>
</html>