<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title> Login</title>
 <link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
{{>navigation}}

<!--{{>header}} -->
<div id="main">

	<div id="createAccount">
		<div class="titleRow"> Log In: </div>
			<div class="inputForm">
			<form action="/">
				
				<table>
				<tr> <td> <input type="text" required name="username"  placeholder="Username"/> </td></tr>
				<tr> <td> <input type="password" required name="password" placeholder="Password"/> </td></tr>
				<tr> <td> <div class="submitButton forgot_password"> <a href="/password"> Forgot Password? </a> </div></td></tr>
				</table>
				<input class= "submitButton newSubmit" name="login" type="submit" value="Log In">
			</form>
			

			<form action="/landing">
  		 		 <input  class = "submitButton " type="submit" value="Back">
			</form>
			
			</div> <!-- end input form div -->
	</div> <!-- end create account div --> 

</div> <!-- end main div -->

		{{> footer}}


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>
	<script src="js/hci-friends.js"> </script>
</body>
</html>


