<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> Retrieve Password </title>
 <link href="css/bootstrap.css" rel="stylesheet">
   <link href="css/bootstrap-responsive.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>


<div class="header-prelogin">
    <h3>Goal Glance</h3>
    <hr/>
</div>
<div id="prelogin-main">

	<div id="createAccount">
		<div class="titleRow"> Enter your Account Information: </div>
			<div class="inputForm">
			<form action="/" name="register">
				
				<table>
				<tr> <td> <input type="text" required name="username"  placeholder="Username"/> </td></tr>
				<tr> <td> <input type="text" required name="email" placeholder="Email Address"/> </td></tr>
				</table>
				
				<input class= "submitButton newSubmit" type="button"  onClick="sendPassword();" value="Submit">
			</form>
			
			<form action="/login">
  		 		 <input  class = "submitButton newSubmit" type="submit" value="Back">
			</form>
			
			</div> <!-- end input form div -->
	</div> <!-- end create account div --> 
	
      <div id="push"></div>


</div> <!-- end main div -->
			{{> footer}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>
		<script src="js/147-project.js"> </script>

</body>
</html>