<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon"  type="image/png"  href="images/eye.png">

<title> Goal Glance </title>
 <link href="css/bootstrap.css" rel="stylesheet">
   <link href="css/bootstrap-responsive.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet" type="text/css">


</head>
<body>


<div class="header-prelogin">
    <h3>Goal Glance</h3>
    <hr/>
</div>
<div id="prelogin-main" >
	
	<div id="createAccount">
		<div class="titleRow"> Enter your Account Information </div>
			<div class="inputForm">
			<!--
			<form method="get" onsubmit="return verifyAccount()" action = "/sendPassword" name="getPassword">onsubmit="/sendPassword"  -->
			<form method="get" onsubmit="return verifyEmail()" action="/sendPassword" name="getPassword">	
				<table>
				<tr> <td> <input type="text" required name="username"  placeholder="Username"/> </td></tr>
				<tr> <td> <input type="text" required name="useremail" placeholder="Email Address"/> </td></tr>
				</table>
				
				<input class= "submitButton newSubmit retrievePasswordBtn" type="submit"  value="Submit">
			</form>
			
			<form action="/login">
  		 		 <input  class = "submitButton newSubmit" type="submit" value="Back">
			</form>
			
			</div> <!-- end input form div -->
	</div> <!-- end create account div --> 
	
      <div id="push"></div>




</div> <!-- end main div -->
			{{> footer}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>
		<script src="js/147-project.js"> </script>
	<!--<script src="js/password.js"> </script>   -->

	{{#if search}}
		{{#if success}}
			<script> alert("We have sent you your password!"); </script>
		{{else}}
			<script>  alert("We don't have that username and email combination in our system") </script>
		{{/if}}
	{{/if}}

</body>
</html>