<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
<title> Retrieve Password </title>
 <link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
		{{>navigation}}

<!--{{>header}} -->


<div id="main">

	<div id="createAccount">
		<div class="titleRow"> Enter your Account Information: </div>
			<div class="inputForm">
			<form action="/">
				
				<table>
				<tr> <td> <input type="text" required name="username"  placeholder="Username"/> </td></tr>
				<tr> <td> <input type="text" required name="email" placeholder="Email Address"/> </td></tr>
				</table>
				<input class= "submitButton newSubmit" name="password" type="submit" value="Submit">
			</form>
			
			<form action="/login">
  		 		 <input  class = "submitButton newSubmit" type="submit" value="Back">
			</form>
			
			</div> <!-- end input form div -->
	</div> <!-- end create account div --> 
	

			{{> footer}}

</div> <!-- end main div -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>
</body>
</html>