<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon"  type="image/png"  href="images/eye.png">

<title> Goal Glance </title>
 <link href="css/bootstrap.css" rel="stylesheet">
   <link href="css/bootstrap-responsive.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet" type="text/css">
</script>
</head>
<body>
<body>

<div class="header-prelogin">
    <h3>Goal Glance</h3>
    <hr/>
</div>

<div id="prelogin-main">

	<div id="createAccount">
		<div class="titleRow"> Create an Account: </div>
			<div class="inputForm">
			<form method="get" onsubmit="return verifyRegister();" action = "/registerAttempt" name="register">
				<table>
				<tr> <td> <input type="text" required name="username"  placeholder="Username"/> </td></tr>
				<tr> <td> <input type="text" required name="email" placeholder="Email"/> </td></tr>
				<tr> <td> <input type="password" required name="password" placeholder="Password"/> </td></tr>
				<tr> <td> <input type="password" required name="conpassword" placeholder="Confirm Password"/> </td></tr>
				</table>
				<input class= "submitButton newSubmit" type="submit"  value="Submit">
			</form>
			
			<form action="/landing">
  		 		 <input  class = "submitButton" type="submit" value="Back">
			</form>
			
			</div> <!-- end input form div -->
	</div> <!-- end create account div --> 

	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>
	<script src="js/147-project.js"> </script>

      <div id="push"></div>

</div> <!-- end main div -->

		{{> footer}}

	
	{{#if usernameExist}}
		<script>  alert("Sorry that username is already taken, please try another") </script>
	{{/if}}
	{{#if emailExist}}
		<script>  alert("We already have an account registered to that email address") </script>
	{{/if}}

</body>
</html>