<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">

<title> Goal Glance </title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet" type="text/css">

</script>
</head>
<body>
	{{>navigation}}

<!--{{>header}} -->
<div id="main">
	<div class="text">
	Share your goal with friends and family
	<h3>They'll be able to send you inspiring messages!</h3>
	<select multiple>
	  <option>Mom</option>
	  <option>Grandma Jane</option>
	  <option>William Carter</option>
	</select>
	<h3>Add an (optional) personalized message:</h3>
	<textarea id="message"></textarea>
	<hr>

	{{#if welcome}}

	<a href="welcome_upload"><input class = "submitButton" type="submit" value="< Back to upload"></a>
	<a href="gallery"><input class = "submitButton" type="submit" value="Send invitations and take me to my gallery!"></a>
	
	{{/if}}

	</div>
	<div class="footer">
		<a href="terms.html"> Terms and Conditions </a>
	</div>
</div> <!-- end main div -->
{{>footer}}
</body>
</html>