<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">

<title> Goal Glance </title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet" type="text/css">

</script>
</head>
<body>
	{{>navigation}}

<!--{{>header}} -->
<div id="main">
	 {{#if welcome}}
  		<div class="addProgress">
      <ol class="progtrckr" data-progtrckr-steps="3">
        <li class="progtrckr-done">Goal</li>
        <li class="progtrckr-done">Content</li>
        <li class="progtrckr-done">Share</li>
      </ol> 
    </div>
  		{{/if}}
	<div class="titleRow " > Share Your Goal </div>

	<div class="text">
	Let friends and family know what you are working towards so they can send you inspiring messages!
	</div>
	
	
	<h5>Who to share with:</h5>
	<select multiple>
	  <option>Mom</option>
	  <option>Grandma Jane</option>
	  <option>William Carter</option>
	</select>

	<div class="text"><br/>Add an (optional) message to let them know about your goal:</div>
	<textarea id="message"></textarea>

	{{#if welcome}}

	<a href="welcome_upload"><input class = "submitButton" type="submit" value="< Back to upload"></a>
	{{/if}}
	<a href="gallery"><input class = "submitButton" type="submit" value="Send & Go to Gallery"></a>
	<br/>
	 <div id="push"></div>

</div> <!-- end main div -->
{{>footer}}
	<script src="js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>

</body>
</html>