<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">

<title>  Terms and Conditions </title>
 <link href="css/bootstrap.css" rel="stylesheet">
   <link href="css/bootstrap-responsive.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet" type="text/css">

</script>
</head>
<body>
<{{#if loggedin}}
		{{>navigation}}
 
		<div id="main">
	{{else}}
	<div class="header-prelogin">
    <h3>Goal Glance</h3>
    <hr/>
	</div>
	<div id="prelogin-main" >
	{{/if}}
	<div class="titleRow"> Terms and Conditions: </div>

	<div class="text">
		The following describes the terms applicable to the use of the Site......
	</div>
	

	{{#if loggedin}}
	<form action="/">
  		 		 <input  class = "submitButton newSubmit" type="submit" value="Back to Inspiration Page">
	</form>
	{{else}}
	<form action="/landing">
  		 		 <input  class = "submitButton newSubmit" type="submit" value="Back to Landing Page">
	</form>
	{{/if}}
	
	<script src="https://code.jquery.com/jquery.js"></script>

      <div id="push"></div>

</div> <!-- end main div -->
{{>footer}}
	<script src="js/jquery-1.11.0.js"> </script>
	<script src="js/bootstrap.js"> </script>
	<script src="js/hci-friends.js"> </script>
</body>
</html>