<!DOCTYPE html>
<html>
  <head>
    <title>Update Friends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">    
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">  
    <link href="css/style.css" rel="stylesheet" type="text/css">
  
  </head>
  <body>    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
		#update-header {
	    	font-size: 20px;
	    	font-weight: bold;		
	    	margin: 4px;
		}
		.bottom-div { 
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
		}		
		#update-content {
			height: 500px;
		}
    </style>    
    <div style="position:relative; height: 100%; width: 100%">
    	<div id="update-header">Update Friends</div>
    	<div id="update-content">
    		<textarea class="form-control" rows="3" placeholder="Update your friends on your progress..." style="height:90%"></textarea>
    	</div>
    	<div class="bottom-div"><button class="btn">Send</button></div>
    </div>
  </body>
</html>