<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
<title> Goal Glance </title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">

</script>
</head>
<body>

{{> header}}
<div id="main">
	<div class="text">
			<div class="titleRow"> Upload Photo: </div>
	<input type="text" class = "inputForm" name="user">
	<input id="upload" class = "submitButton newSubmit" type="submit" value="Upload" onclick="changeText()">
	<script>
		function changeText() {
			$("#upload").attr("value", "Upload another");
		}
	</script>

	</div>
	(This should eventually allow you to upload a photo from your phone's photos using the library Kingston posted about. There should also be a way to cancel or undo)
	<form action="/gallery">
  		 	 <input  class = "submitButton newSubmit" type="submit" value="Back to Gallery">
	</form>
	<div class="footer">
		<a href="terms.html"> Terms and Conditions </a>
		
	</div>
</div> <!-- end main div -->
</body>
</html>